.cal{
  
  color: red;

  text-align: center;
  font-size:30px;


}
.s{
 
 height: 60px;
 width: 100px;
 font-size: 30px;
 color: rgb(200,20,10);
 background-color : rgb(240,220,8); 
 }
 .d{
 height: 60px;
 width: 310px ;
 font-size: 30px;
 color: rgb(25,20,100);
   background-color : rgb(240,220,8); 
   
 }
 .head{
   font-size: 50px;
   color: rgb(180,20,200) ;
   text-align: center;

 }
 .sr{
   height: 100px;
 width: 310px;
 font-size: 30px;
 color: rgb(200,20,10); 
   background-color : rgb(200,200,100); 
 }
